<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Para</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <h1>Add your New Para</h1>
        <form method="post" action="/new">
            <label for="title">Title</label>
            <input class="titleInput" type="text" id="title" name="title" placeholder="Your New Para Title">
            <br>
            <br>
            <label for="content">Write Your Para</label>
            <br>
            <textarea class="textInput" name="content" id="content" cols="50" rows="20"></textarea>
            <br>
            <br>
            <button class="addBtn">Add</button>
        </form>
        <br>
        <hr>
        <button class="backToHomeBtn"><a href="/">Back to Home</a></button>
        <hr>
    </div>
    

</body>
</html>